.ui.inverted.menu {
  background: #733BBF;
  border-radius: 0;
}

.ui.small.image {
  float: left;
  padding: 10px;
}

.ui.purple.button {
  background-color: #733BBF;
}
.ui.button{
  margin-top: 20px;
}

.ui.header {
  color: white;
}

.ui.hospital.segment {
  padding: 10px;
}

#profile {
  padding: 5%;
  margin: auto;
  max-width: 1100px;
}

.hospitalContainer {
  max-width: 600px;
  margin: auto;
}

#login {
  padding: 10%;
  width: 75%;
  margin: auto;
}

#map {
  height: 80vh;
  width: 90%;
  margin: auto;
  padding: 20px;
}

#placesSearch {
  max-width: 600px;
  margin: auto;
}

h2.search.label {
  margin: auto;
  text-align: center;
}

.ui.card .meta {
  margin-top: 5px;
}
